body{
    margin: 0;
    padding: 0;
    background: url(img.png);
    background-size: cover;
    background-position:top;
    font-family: sans-serif;
}

.login-box{
    width: 390px;
    height: 650px;
    background: rgba(0, 0, 0, 0.3);
    color: #000;
    top: 52.5%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}


.login-box input[type="text"], input[type="password"],input[type="email"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    
}

.login-box input[type="button"],input[type="reset"]
{
    border=none;
    outline: none;
    height: 40px;
    background-color: darkgreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="button"]:hover,input[type="reset"]:hover
{
    cursor: pointer;
    background-color: blue;
    color: #000;
}